.input-wrapper {
  flex: 1;
  margin: 2rem 0;
  text-align: center;
}

textarea {
  width: 100%;
  min-height: 150px;
  border-radius: 16px;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  resize: vertical;
  outline: none;
  background-color: #2b2d42;
  color: var(--text);
}

button {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 999px;
  background-color: var(--accent);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #6c4fd0;
}
