header {
  width: 100%;
  padding: 1rem 1rem;
  text-align: center;
}


header h1 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 0;
  color: var(--text);    /* purple accent */
}

header p {
  color: var(--muted);     /* use muted color from app */
  font-size: 1rem;
  margin-top: 0.5rem;
  letter-spacing: 3px;
}
