@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

nav {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 4rem;
}
header {
  width: 100%;
  padding: 1rem 1rem;
  text-align: center;
}


header h1 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 0;
  color: var(--accent);
}

header p {
  color: var(--muted);
  font-size: 1rem;
  margin-top: 0.5rem;
  letter-spacing: 3px;
}

.history {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 999px;
  background-color: var(--accent);
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s ease;
}

.history:hover {
  background-color: #6c4fd0;
}