.image-gallery {
  /* width: 100%; */
  text-align: center;
}

.image-card {
  width: 500px;
  height: 500px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.image-card:hover {
  transform: scale(1.02);
}

.generated-image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

@media (max-width: 768px) {
  .image-card {
    width: 100%;
    padding: 20px;
    height: auto; /* or keep fixed height */
  }
}